/src/bin
/src/obj
/packages
/Tests/StdioTests/Logs
/Tests/bin
/Tests/obj
/Tests/TestResult.xml
/Tests/kgrep.VisualState.xml
kgrep.suo
*.user
todo.txt

Tests/StdioTests/kgrep.exe
src/packages.config
